RewriteEngine On
RewriteBase /SZABDESK_SCRAPPED/


RewriteRule ^api/profile/?$ index.php?api=profile [L,QSA]
RewriteRule ^api/courses/?$ index.php?api=courses [L,QSA]
RewriteRule ^api/result/?$ index.php?api=result [L,QSA]
RewriteRule ^api/coursesAll/?$ index.php?api=coursesAll [L,QSA]
RewriteRule ^api/schedule/?$ index.php?api=schedule [L,QSA]
RewriteRule ^api/attendance/?$ index.php?api=attendance [L,QSA]
RewriteRule ^api/files/?$ index.php?api=files [L,QSA]
RewriteRule ^api/recap/?$ index.php?api=recap [L,QSA]